<div class="container">
    <h1>Listado de usuarios</h1>
</div>
<div class="container user-container">
    <table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <td> Nombre usuario</td>
            <td> email </td>
            <td> Nombre </td>
            <td> Cuit </td>
            <td> Fecha nacimiento </td>
            <td> Acciones </td>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in usersList">
          <td> {{user.username}}</td>
          <td> {{user.email}} </td>
          <td> {{user.name}} </td>
          <td> {{user.cuit}} </td>
          <td> {{user.birthDate}} </td>
          <td>

              <a href="#/users/{{user.id}}">
                    <span class="glyphicon glyphicon-edit"></span>
              </a>

                <span class="glyphicon glyphicon-remove-circle" ng-click="delete(user.id)"/>

          </td>
      </tr>
    </tbody>

    </table>

</div>
